*{
  margin: 0;
    padding: 0;
    
}
body{
    height: 100vh;
   
}



.img-eu{
    border: 10px;
    border-color: bisque;
    
}
.spc{
    margin-top: 5px;
}
.container-sobre{
    height: auto;
    border-radius: 20px;
    display: block;
    font-size: 20px;
    flex-wrap: wrap;
}
.container-form{
    align-items: center;
}
.img-form{
    border-radius: 3em;
}
.rec{
    color: azure;
    font-size: 30px;
}
.texto {
    color:azure ;
    font-size: 20px;
}
#footer-box{
    margin-top: 1em;
    background-color: #0464ca;
}
.texto2{
    font-size: 20px;
}