*{
  margin: 0;
    padding: 0;
    
}
body{
    height: 900vh;
   
}

nav.menu-lateral{
    width: 42px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 white;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}
nav.menu-lateral.expandir{
    width: 250px;
}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
   
}
.btn-expandir i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: .1s ;
}
ul li.ativo{
    background-color: #FF08;
}

ul li.item-menu:hover{
    background:#FF08;
}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 30px;
}
ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}
nav.menu-lateral.expandir .txt-link {
    margin-left: 20px;
    opacity: 1;
}
ul li.item-menu a icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.img-eu{
    border: 10px;
    border-color: bisque;
    
}
.spc{
    margin-top: 9%;
}
.container-sobre{
    height: auto;
    border-radius: 20px;
    display: block;
    font-size: 20px;
    flex-wrap: wrap;
}
.container-form{
    align-items: center;
}
.img-form{
    border-radius: 3em;
}
.rec{
    color: azure;
    font-size: 30px;
}
.texto-rec {
    color:azure ;
}
#footer-box{
    margin-top: 1em;
    background-color: #0464ca;
}